/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Star - selects everythink on the page*/
* {
	border: 1px solid lightgrey;
}

/*Descendant Selector - takes two or more tag names
and chain them togheter
we can also specify class here*/
li a {
	color: red;
}

/*Adjacent Selector - lets us select element that comes 
after another element, when we say "after" we mean "same level"*/
h4 + ul{
	border: 4px solid red;
}

/*Attribute Selector - way to select elements
 based of an any attribute*/
a[href="http://www.google.com"]{
	background: darkgreen;
}

/*input[type="text"]{

}*/

/*nth of type - the way like nth of type works is it
takes a number and select every nth specific element
eg nth <div>*/
li:nth-of-type(3){
	background: purple;
}